header {
    background-color: #5ccfbe;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
header > div {
    width: 40%;
    display: flex;
    justify-content: space-around;
}
h1 {
    color: #fff;
    font-size: 20px;
}
header > div > a {
    background-color: #23272a;
    color: #fff;
    font-weight: 600;
    padding: 3px 10px;
    border-radius: 10px;
    transition: 500ms;
}
header > div > a:hover{
    background-color: #fff;
    color: #23272a;
}
main {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 40px auto;
}

#filtro {
    margin-bottom: 20px;
}
#filtro > select {
    width: 45%;
    height: 40px;
    border: solid 2px #23272a;
    border-radius: 8px;
}
#filtro > input {
    width: 45%;
    height: 40px;
    padding: 0 10px;
    border: solid 2px #23272a;
    border-radius: 8px;
}
#filtro > button {
    height: 40px;
    padding: 0 20px;
    border: solid 2px #23272a;
    border-radius: 8px;
}
ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
ul > li {
    display: flex;
    align-items: center;
    border: solid 1px #23272a5d;
    border-radius: 10px;
    justify-content: space-between;
    padding: 10px;
}
.logoEmpresa {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.mapa {
    border-radius: 10px;
    cursor: pointer;
}
ul > li > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.cadastrar {
    border: solid 1px #23272a5d;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
}
.cadastrar > a {
    background-color: #23272a;
    color: #fff;
    font-weight: 600;
    padding: 3px 10px;
    border-radius: 10px;
    transition: 500ms;
}
.cadastrar > a:hover {
    background-color: #fff;
    color: #23272a;
}